<div
  class="hero text-center"
  *ngIf="general"
  [ngStyle]="{
    'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + baseUrl + general.img?.url + ')'
  }">

  <h1 class="display-5 fw-bold text-body-emphasis">{{ general.content?.nombre }}</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">{{ general.content?.texto }}</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Descargar</button>
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Documentacion</button>
    </div>
  </div>
</div>

<!-- Muestra un mensaje si no hay contenido -->
<div *ngIf="!general" class="text-center my-5">
  <p>Cargando contenido...</p>
</div>

