<section id="about" class="container">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center justify-content-center g-5 py-5">
      <!-- Imagen centrada a la izquierda -->
      <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-center">
        <img
          src="{{baseUrl + general?.img?.url}}"
          class="img-fluid"
          alt="Descripción de la imagen"
          loading="lazy"
        />
      </div>

      <!-- Texto centrado a la derecha -->
      <div class="col-lg-6 d-flex flex-column align-items-center text-center text-lg-start">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
          {{general?.content?.titulo}}
        </h1>
        <p class="lead fw-semi-bold">{{general?.content?.texto}}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-center justify-content-lg-start">
          <a class="btn btn-primary btn-lg px-4 gap-3" routerLink="/doc" routerLinkActive="active">Descargar</a>
          <a class="btn btn-primary btn-lg px-4 gap-3" routerLink="/doc" routerLinkActive="active">Documentación</a>
        </div>
      </div>
    </div>
  </div>
</section>
