<div [ngClass]="sidebarClass()" id="sidebarMenu" class="sidebar bg-light border-end vh-100">
  <div class="p-3">
    <!-- Botón de cierre -->
    <button
  class="btn btn-close float-end d-md-none"
  (click)="closeSidebar()"
  aria-label="Cerrar sidebar">
</button>

    <!-- Título del sidebar -->
    <a href="/" class="d-flex align-items-center pb-3 mb-3 text-dark text-decoration-none border-bottom">
      <i class="bi bi-layout-text-sidebar fs-4 me-2 text-primary"></i>
      <span class="fs-5 fw-semibold">Contenidos</span>
    </a>

    <!-- Lista de títulos y subtítulos -->
    <ul class="list-unstyled ps-0">
      <li class="mb-2" *ngFor="let content of general">
        <div >
          <button
            class="btn btn-toggle d-flex align-items-center w-100 text-start rounded px-3 py-2"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse-' + content.id"
            aria-expanded="false"
          >
            <i class="bi bi-folder me-2 text-primary"></i> {{ content?.titulo }}
          </button>

          <div class="collapse ps-3" [id]="'collapse-' + content.id">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li *ngFor="let subcontent of content?.subcontents" class="mb-1">
                <a
                  href="#"
                  class="d-flex align-items-center text-dark text-decoration-none rounded px-3 py-1 sidebar-link"
                >
                  <i class="bi bi-dot me-2 text-secondary"></i> {{ subcontent?.titulo }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>
