<section id="faq" class="container py-5">
  <div class="text-center mb-5">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ general?.content?.titulo }}</h1>
    <p class="lead fw-semi-bold">{{ general?.content?.texto }}</p>
  </div>

  <div class="accordion" id="faqAccordion">
    <div *ngFor="let item of general?.content?.subcontents; let i = index" class="accordion-item">
      <h2 class="accordion-header" [id]="'faq' + i + '-heading'">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          [attr.data-bs-target]="'#faq' + i"
          aria-expanded="false"
          [attr.aria-controls]="'faq' + i">
          {{ item.titulo }}
        </button>
      </h2>
      <div [id]="'faq' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'faq' + i + '-heading'" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          {{ item.texto }}
        </div>
      </div>
    </div>
  </div>
</section>

